
<app-header ></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-recipe *ngIf="loadedFeature == 'recipe'"></app-recipe>
      <app-shopping-list *ngIf="loadedFeature == 'shopping-list'"></app-shopping-list> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <h4>Hello World</h4>

  <app-cockpit (serverCreated)="OnServerAdded($event)"
  (blueprintCreated)="OnBluePrintAdded($event)"></app-cockpit>
  <div class="row">
    <div class="col-md-6">
      <app-server-element 
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement">
    </app-server-element>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-game-control (intervalFired)="OnIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-odd *ngFor="let OddNumber of OddNumbers" [number]="OddNumber"></app-odd>
      <app-even *ngFor="let EvenNumber of EvenNumbers" [number]="EvenNumber"></app-even>
    </div>
  </div> -->

  <!-- <p appBasicHighlight>Style me with basic directive</p>
  <p appBetterHighlight>Style me with appBetterHighlight directive</p> -->
</div>