<div class="container">
    <div class="row">
        <div class="col-md-6">
          <!-- <div class="alert alert-danger" *ngIf="error">
            {{error}}
          </div> -->
          <app-alert [message]="error" *ngIf="error" (close)="onHandleClose()"></app-alert>

          
          <app-loader *ngIf="isLoading"></app-loader>

            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                  ngModel
                  name="email"
                  required
                  email>
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" 
                  ngModel
                  name="password"
                  required
                  minlength="6">
                </div>
               
                <button type="submit" class="btn btn-primary mr-2" type="submit" [disabled]="!authForm.valid">{{isLogMode ? 'Login' : 'Signup'}}</button>
                <button type="button" class="btn btn-primary" type="button" (click)="onSwitchMode()">Switch to {{isLogMode ? 'SignUp' : 'Login'}}</button>
              </form>
        </div>
    </div>
</div>